*{
    padding: 0px;
    margin: 0px;
    
}
.nav-bar{
    height: 60px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(212, 212, 70);
}
.full-name{
    height: 20px; 
    width: 50;  
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pic-box{
    height: 550px;
     width: 500px;
    background-color: rgb(177, 172, 172);
    position:absolute;
    margin-left: 450px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.pic{
    height: 100%;
    width: 100%;
    background-image: url(image.jpg);
    background-size: cover;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.text-area{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
}
.text1{
    margin-left: 20px;
}
.text2{
    margin-left: 1100px;
}

.nav-menu
{
    margin-top: 20px;
    margin-left: 900px;
}

.nav-menu ul li{
    list-style-type: none; 
}

.nav-menu ul{
    display: flex; 
    flex-wrap:wrap; 
    justify-content: space-around;
     gap: 20px; 
}
.nav-menu ul li a
{
    color: grey;
    text-decoration: none
}


